<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons color="secondary" slot="start">
      <ion-button (click)="volverHome()" color="tertiary" 
        ><ion-icon name="arrow-back-outline"></ion-icon
      >Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title mode="md" class="ion-no-padding">
      <ion-label>
        <ion-text color="secondary">Detalles</ion-text>
        <p>
          <ion-text color="white"><strong>Paciente</strong></ion-text>
        </p>
      </ion-label>
    </ion-title>
    <ion-avatar slot="end">
      <img src="./assets/img/pacienteicon.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" mode="ios">

<ion-card color="secondary">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col><ion-button (click)="iniciarConsulta()"><img src="./assets/img/iniciarconsulta.png"  alt=""></ion-button></ion-col>
        <ion-col><ion-button><img src="./assets/img/historialconsulta.png" alt=""></ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


  <ion-card color="secondary">
    <ion-card-content>
      <ion-card-header class="ion-text-center" style="font-size: 36px;"><strong>Datos Filiatorios</strong></ion-card-header>
      <ion-list *ngIf="pacientes">
        <ion-item>
          <p>Nombres: {{pacientes.nombres}} {{pacientes.apellidos}}</p>
        </ion-item>
        <ion-item>
          <p>Numero de Identificacion: {{pacientes.cedula}}</p>
        </ion-item>
        <ion-item><p>Fecha de nacimiento: {{pacientes.fechadenacimiento}}</p></ion-item>
        <ion-item><p>Edad: {{pacientes.edad}}</p></ion-item>
        <ion-item><p>Sexo: {{pacientes.sexo}}</p></ion-item>
       
      </ion-list>
    </ion-card-content>
  </ion-card>
   
  <ion-card class="ion-text-center" color="secondary">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col><ion-button color="white" (click)="openAntecedentesMedicos()">Info y Antecedentes</ion-button></ion-col>
          
        </ion-row>
        <ion-row>
          <ion-col><ion-button (click)="abrirRecipe()">Generar Recipe</ion-button></ion-col>
          
          
        </ion-row>
        <ion-row>
          
          <ion-col><ion-button>Archivos del paciente</ion-button></ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-card-content>
  </ion-card>

<ion-modal #modalAntecedentesMedicos>
  <ng-template>
    <ion-header color="primary">
      <ion-toolbar color="primary">
        <ion-buttons color="secondary" slot="start">
          <ion-button (click)="closeAntecedentesMedicos()"  color="tertiary" 
            ><ion-icon name="arrow-back-outline"></ion-icon
          ></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-header class="ion-no-border">
      <ion-toolbar color="primary">
        <ion-title mode="md" class="ion-no-padding">
          <ion-label>
            <ion-text color="secondary">Menu de</ion-text>
            <p>
              <ion-text color="white"><strong>Info y Antecedentes</strong></ion-text>
            </p>
            <p>
              <ion-text>Paciente: Johnatan Guevara</ion-text>
              
            </p>
            <p>
              <ion-text>Sexo: Masculino</ion-text>
            </p>
            <p>
              <ion-text>Edad: 27</ion-text>
            </p>
            <p>
              <ion-text>Ultima consulta: 04-12-2024</ion-text>
            </p>
            
          </ion-label>
        </ion-title>
        <ion-avatar slot="end">
          <img src="./assets/img/consultamenu.png" />
        </ion-avatar>
      </ion-toolbar>
    </ion-header>
    
    <ion-content color="primary">
    
    
      <ion-card color="secondary">
        <ion-card-content>
          <ion-card-header class="ion-text-center">Antecedentes Medicos</ion-card-header>
          <ion-item>
            <ion-textarea
              placeholder="Describa aqui los antecedentes medicos del paciente..."
              [autoGrow]="true"
              
            >
            </ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
    
      <ion-card color="secondary">
        <ion-card-content>
          <ion-card-header class="ion-text-center">Antecedentes Quirurgicos</ion-card-header>
          <ion-item>
            <ion-textarea
              placeholder="Describa aqui los antecedentes quirurgicos del paciente..."
              [autoGrow]="true"
              
            >
            </ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
    
      
      <ion-card color="secondary">
        <ion-card-content>
          <ion-card-header class="ion-text-center">Habitos Psicobiologicos</ion-card-header>
          <ion-item>
            <ion-textarea
              placeholder="Describa aqui su evaluacion..."
              [autoGrow]="true"
              
            >
            </ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
    
      <ion-card color="secondary">
        <ion-card-content>
          <ion-card-header class="ion-text-center">Antecedentes Familiares</ion-card-header>
         <ion-list>
          <ion-item>
          <ion-label>Madre:</ion-label> <ion-input color="white"></ion-input> 
        </ion-item>
        <ion-item>
          <ion-label>Padre:</ion-label> <ion-input color="white"></ion-input>
        </ion-item>
          <ion-item>
            <ion-label>Abuelos:</ion-label> <ion-input color="white"></ion-input>
          </ion-item>
          <ion-item>
          <ion-label>Hermanos:</ion-label> <ion-input color="white"></ion-input>
        </ion-item>
        </ion-list>
        </ion-card-content>
      </ion-card>
    
     
      <ion-card color="primary" class="ion-text-center">
        <ion-card-content>
          <ion-button color="secondary">Guardar</ion-button>
        </ion-card-content>
      </ion-card>
    
    </ion-content>
    
    <ion-modal #modalFinalConsulta>
      <ng-template>
        
    <ion-header color="primary">
      <ion-toolbar color="primary">
        <ion-buttons color="secondary" slot="start">
          <ion-button (click)="closeAntecedentesMedicos()" color="tertiary" 
            ><ion-icon name="arrow-back-outline"></ion-icon
          ></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-header class="ion-no-border">
      <ion-toolbar color="primary">
        <ion-title mode="md" class="ion-no-padding">
          <ion-label>
            <ion-text color="secondary">Finalizar</ion-text>
            <p>
              <ion-text color="white"><strong>Consulta</strong></ion-text>
            </p>
          </ion-label>
        </ion-title>
        <ion-avatar slot="end">
          <img src="./assets/img/pacienteicon.png" />
        </ion-avatar>
      </ion-toolbar>
    </ion-header>
    
    <ion-content color="primary">
    
      <ion-card color="white">
        <ion-card-content class="ion-text-center">
          <h1>Consulta guardada exitosamente</h1>
        </ion-card-content>
      </ion-card>
    
      <ion-card class="ion-text-center" color="secondary">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button>Imprimir informe medico</ion-button>
              </ion-col>
              <ion-col>
                <ion-button>Imprimir recipe e indicaciones</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
              <ion-button class="ion-text-center">Guardar archivo del paciente</ion-button>
            </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    
    <ion-card color="white" class="ion-text-center">
      <ion-card-content>
        <ion-button color="warning">Cerrar</ion-button>
      </ion-card-content>
    </ion-card>
    
      
    
      
    
    </ion-content>
    
    
      </ng-template>
    </ion-modal>
    
     
  </ng-template>
</ion-modal>

<ion-modal #modalAntecedentesQuirurgicos>
  <ng-template>
      <h1>AntecedentesQuirurgicosModal</h1>
  </ng-template>
</ion-modal>

</ion-content>
