<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons color="secondary" slot="start">
      <ion-button (click)="volverConsultasMenu()" color="tertiary" 
        ><ion-icon name="arrow-back-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title mode="md" class="ion-no-padding">
      <ion-label let pacientes of pacientes>
        <ion-text color="secondary">Menu de</ion-text>
        <p>
          <ion-text color="white"><strong>Consulta</strong></ion-text>
        </p>
        <p>
          <ion-text>Paciente: {{paciente?.nombres}} <br> {{paciente?.apellidos}}</ion-text>
          
        </p>
        <p>
          <ion-text>Sexo: {{paciente?.sexo}}</ion-text>
        </p>
        <p>
          <ion-text>Edad: {{paciente?.edad}}</ion-text>
        </p>
        <p>
          <ion-text>Ultima consulta: 04-12-2024</ion-text>
        </p>
        
      </ion-label>
    </ion-title>
    <ion-avatar slot="end">
      <img src="./assets/img/consultamenu.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-card color="secondary">
    <ion-card-content>
      <ion-header class="ion-text-center">Motivo de consulta</ion-header>
      <ion-input [(ngModel)]="datosConsulta.motivoConsulta" color="white" placeholder="Ingrese el motivo de la consulta" class="custom-input"></ion-input>
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <ion-card-content>
      <ion-card-header class="ion-text-center">Enfermedad Actual</ion-card-header>
      <ion-item>
        <ion-textarea [(ngModel)]="datosConsulta.enfermedadActual"
          placeholder="Describa aqui la enfermedad actual del paciente..."
          [autoGrow]="true"
          
        >
        </ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col><ion-input [(ngModel)]="datosConsulta.TA" class="custom-input">TA (mmHg)</ion-input></ion-col>
          <ion-col><ion-input [(ngModel)]="datosConsulta.FC" class="custom-input">FC (pm)</ion-input></ion-col>
          <ion-col><ion-input [(ngModel)]="datosConsulta.FR" class="custom-input">FR (rpm)</ion-input></ion-col>
          <ion-col><ion-input [(ngModel)]="datosConsulta.SATO2" class="custom-input">SATO2 (%)</ion-input></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-input [(ngModel)]="datosConsulta.peso" class="custom-input">PESO (kg)</ion-input></ion-col>
          <ion-col><ion-input [(ngModel)]="datosConsulta.talla" class="custom-input">TALLA (m)</ion-input></ion-col>
          <ion-col><ion-input [(ngModel)]="datosConsulta.IMC" class="custom-input">IMC (kg/m2)</ion-input></ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <ion-card-content>
      <ion-card-header class="ion-text-center">Descripcion</ion-card-header>
      <ion-item>
        <ion-textarea [(ngModel)]="datosConsulta.descripcion"
          placeholder="Describa aqui su evaluacion..."
          [autoGrow]="true"
          
        >
        </ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <ion-card-content>
      <ion-card-header class="ion-text-center">Plan</ion-card-header>
      <ion-item>
        <ion-textarea [(ngModel)]="datosConsulta.plan"
          placeholder="Describa aqui el plan a seguir..."
          [autoGrow]="true"
          
        >
        </ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <ion-card-content>
      <ion-card-header class="ion-text-center">Indicaciones</ion-card-header>
      <ion-item>
        <ion-textarea [(ngModel)]="datosConsulta.indicaciones"
          placeholder="Describa aqui las indicaciones para el paciente..."
          [autoGrow]="true"
          
        >
        </ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <ion-card-content>
      <ion-card-header class="ion-text-center">Ordenes Paraclinicos</ion-card-header>
      <ion-item>
        <ion-textarea [(ngModel)]="datosConsulta.ordenesParaclinicos"
          placeholder="Describa aqui las ordenes paraclinicos..."
          [autoGrow]="true"
          
        >
        </ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="primary" class="ion-text-center">
    <ion-card-content>
      <ion-button (click)="guardarConsulta(datosConsulta)" color="secondary">Finalizar y Guardar</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-modal #modalFinalConsulta>
  <ng-template>
    
<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons color="secondary" slot="start">
      <ion-button (click)="volverConsulta()" color="tertiary" 
        ><ion-icon name="arrow-back-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title mode="md" class="ion-no-padding">
      <ion-label>
        <ion-text color="secondary">Finalizar</ion-text>
        <p>
          <ion-text color="white"><strong>Consulta</strong></ion-text>
        </p>
      </ion-label>
    </ion-title>
    <ion-avatar slot="end">
      <img src="./assets/img/pacienteicon.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-card color="white">
    <ion-card-content class="ion-text-center">
      <h1>Consulta guardada exitosamente</h1>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-text-center" color="secondary">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button>Imprimir informe medico</ion-button>
          </ion-col>
          <ion-col>
            <ion-button>Imprimir recipe e indicaciones</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          <ion-button class="ion-text-center">Guardar archivo del paciente</ion-button>
        </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

<ion-card color="white" class="ion-text-center">
  <ion-card-content>
    <ion-button (click)="volverConsultasMenu()" color="warning">Cerrar</ion-button>
  </ion-card-content>
</ion-card>

  

  

</ion-content>


  </ng-template>
</ion-modal>
